body, h1, h2, p, ul, li {
margin: 0;
padding: 0;
/* Estilo do corpo da página */
body {
font-family: Arial, sans-serif;
background-color: #f0f0f0;
color: #333;}
  /* Estilo do cabeçalho */ header (
backencund-collo： #333；
color: #FFF;
text-align: center
padding:
20px;
/* Estilo da barra de navegação
nav {
background-color:
nav ul (
1ist-style-type: none;
padding: 0;
nav 1i {
display: inline;
margin-right: 20px;
nav a {
text-decoration: none；
color:
#fff;
font-weight: bold;
｝
main {
/* Estilo do conteúdo principal */
padding: 20px;
｝
/* Estilo das seções */
section {
margin-bottom: 20px;
padding: 20px;
background-color: #fff;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }
/* Estilo do rodapé */
footer {
background-color: #333;
color: #fff;
text-align: center;
padding: 10px;
